
@font-face {
	font-family: BodoniXT;
	src:
		url('./fonts/BodoniXT-webfont.woff') format('woff'),
		url('./fonts/BodoniXT-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Georgia Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Regular'), url('./fonts/georgia.woff') format('woff');
}

body {
    font-family: 'Georgia Regular', serif;
    margin: 0px;
    padding: 0px;
    color: rgb(43, 43, 43);
    background: #f0f0f0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: goldenrod;
}

div#home {
    margin: 0;
    padding: 0;
    width: 100%;
}

div#splashcontent {
    height: 80%;
    width: 70%;
    padding: 0% 15%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: all ease-in-out 700ms;
    transform: translateY(50px);
}

div#splashtitle {
    font-family: 'BodoniXT';
    font-size: calc(20px + 4.5vw);
    margin: 5% 0 0;
    padding: 0;
}

div#mainbody {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

/* SPLASH PLACEHOLDER WEBSITE */

.card-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    max-width: 90%;
    justify-content: space-evenly;
}

.center {
    text-align: center;
}

.ticket-card {
    height: auto;
    flex-grow: 1;
    flex-direction: column;
    flex-basis: 330px;
    justify-content: center;
    text-align: center;
    padding: 1vw;
    min-width: 330px;
}

.card, .card-info {
    height: auto;
    margin: 30px 45px;
    padding: 0px;
    flex-grow: 1;
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    align-self: start;
    word-wrap: break-word;
}

.card {
    margin: 30px 25px;
    flex-basis: 330px;
    flex-shrink: 1;
}

.header {
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 1.1em;
}

.role {
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 1.1em;
    cursor: pointer;
}

.tilde {
    margin: 1.1em;
    text-transform: uppercase;
}

.link {
    /*color: rgb(122, 121, 121);*/
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
}

.card:hover {
    color: goldenrod;
}

.main-information {
    margin-top: 30px;
    border: thin solid goldenrod;
    max-width: 600px;
    width: 95%;
}

#notify-header {
    text-align: center;
    text-transform: uppercase;
}

#notify-content {
    text-align: justify;
}

video {
    display: block;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 1em;
}

figure {
    text-align: center;
}

@media screen and (max-device-width: 420px) {
    iframe {
        width: 95vw;
        height: calc(0.46875 * 95vw);
    }
}

@media screen and (min-device-width: 420px) {
    iframe {
        width: 60vw;
        height: calc(0.46875 * 60vw);
    }
}

#faq_container{
    text-align: center;
    
}

.question {
    position: relative;
    font-family: 'Georgia Regular', 'Times New Roman', Times, serif;
    display: block;
    background-color: #F0F0F0;
    color: var(--pontus);
    cursor: pointer;
    padding: 18px;
    margin: auto;
    border: none;
    border-bottom: 1px solid var(--pontus);
    text-align: center;
    outline: none;
    transition: 0.4s;
    width: 100%;
    font-size: 0.95em;
}

.active, .question:hover {
    background-color: #ccc;
    color: goldenrod;
}

.question::after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.question_active::after {
    content: "\2212";
}

.answer_content {
    padding: 18px;
}

.answer_content > a {
    text-decoration: underline;
}

.answer_content > a:hover {
    color: goldenrod;
}

.answer_box {
    font-family: 'Georgia Regular', 'Times New Roman', Times, serif;
    background-color: #fafafa;
    margin: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100%;
}
