.card-container {
    margin: auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
    max-width: 60%;
    justify-content: space-evenly;
}

.card {
    position: relative;
    font-family: var(--pem-serif);
    max-width: 340px;
    margin: 30px 10px;
    flex-basis: 340px;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0px;
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    align-self: start;
    word-wrap: break-word;
    color: var(--pontus);
}

.card * {
    text-decoration: none;
}

.card:hover {
    color: goldenrod;
}

.card::after {
    position: absolute;
    bottom: -2em;
    left: 0;
    width: 100%;
    content: "";
    border-bottom: 1px solid var(--pontus);
}

.role_box {
    min-width: 300px;
    padding-bottom: 8px;
}

@media screen and (min-device-width: 750px) {
    .role {
        height: 58px;
    }
    .one_line_role {
        line-height: 58px;
    }
}

.tilde {
    margin: 1.1em;
    text-transform: uppercase;
}

.email {
    /*color: rgb(122, 121, 121);*/
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
}

.headshot {
    max-width: 80%;
}
