:root {
    --pontus: #1c232d;
    --pem-serif: 'Georgia', 'Times New Roman', Times, serif;
}

a {
    /* Necessary to stop auto-formatting of clicked links */
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: goldenrod;
    text-decoration-color: goldenrod;
    -moz-text-decoration-color: goldenrod;
}

main a {
    text-decoration: underline;
}

.main_info_box::after {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    content: "";
    border-bottom: 1px solid var(--pontus);
}

body {
    font-family: var(--pem-serif);
    font-size: 18px;
}

h1 {
    font-family: 'BodoniXT';
    text-transform: uppercase;
    font-weight: normal;
    font-size: 2.5em;
    padding: 1em;
    margin: 0;
}

h2 {
    font-family: 'BodoniXT';
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 1em;
    margin-top: 0;
    font-weight: normal;
}

h3 {
    font-family: 'BodoniXT';
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 0.5em;
    margin: 0;
    font-weight: normal;
}

@media screen and (max-device-width: 750px) {
    body {
        margin: 0px;
        padding: 0px;
        color: var(--pontus);
        background-color: #fffff4;
    }
    main {
        text-align: center;
        padding-bottom: 3vh;
    }
    #footer_logo {
        display: none;
    }
    .main_info_box {
        position: relative;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: auto;
        text-align: center;
        z-index: 1;
        max-width: 95%;
    }

    h2 {
        padding-bottom: 1vh;
        margin-bottom: 0;
    }
}

@media screen and (min-device-width: 750px) {
    body {
        margin: 0px;
        padding: 0px;
        color: var(--pontus);
        background: url("../img/bg.png"), url("../img/bg.png");
        background-repeat: repeat-y, repeat-y;
        background-size: 20%, 20%;
        background-position-x: left, right;
        background-color: #fffff4;
    }
    main {
        text-align: center;
        padding-bottom: 3vh;
    }
    .main_info_box {
        position: relative;
        padding-top: 5em;
        padding-bottom: 5em;
        margin: auto;
        text-align: center;
        z-index: 1;
        max-width: 60%;
    }
    .main_info_content {
        width: 80%;
        margin: auto;
    }
}
