.question {
    position: relative;
    font-family: var(--pem-serif);
    display: block;
    color: var(--pontus);
    background-color: #fffff4;
    cursor: pointer;
    padding: 18px;
    margin: auto;
    border: none;
    border-bottom: 1px solid var(--pontus);
    text-align: center;
    outline: none;
    transition: 0.4s;
}

.active, .question:hover {
    background-color: #ccc;
}

.question::after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.question_active::after {
    content: "\2212";
}

.answer_content {
    padding: 18px;
} 

.answer_box {
    position: relative;
    margin: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

@media screen and (min-device-width: 750px) {
    .question {
        width: 60vw;
        font-size: 18px;
    }

    .answer_box {
        width: 60vw;
    }

    .answer_content {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .answer_box::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        content: "";
        border-bottom: 1px solid var(--pontus);
    }
}

@media screen and (max-device-width: 750px) {
    .question {
        width: 95vw;
        font-size: 18px;
        border: none;
    }

    .question::before {
        position: absolute;
        bottom: 0;
        left: 5%;
        width: 90%;
        content: "";
        border-bottom: 0.5px solid var(--pontus);
    }

    .answer_box {
        width: 95vw;
    }

    .answer_box::after {
        position: absolute;
        bottom: 0;
        left: 5%;
        width: 90%;
        content: "";
        border-bottom: 0.5px solid var(--pontus);
    }
}
