@font-face {
    font-family: BodoniXT;
    src: url('../fonts/BodoniXT-webfont.woff') format('woff'), url('../fonts/BodoniXT-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Regular'), url('../fonts/georgia.woff') format('woff');
}

@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: bold;
    src: local('Georgia Bold'), url('../fonts/georgiab.woff') format('woff');
}

@font-face {
    font-family: 'Georgia';
    font-style: italic;
    font-weight: normal;
    src: local('Georgia Italic'), url('../fonts/georgiai.woff') format('woff');
}

@font-face {
    font-family: 'Georgia';
    font-style: italic;
    font-weight: bold;
    src: local('Georgia Italic Bold'), url('../fonts/georgiaz.woff') format('woff');
}

