header {
    background-color: var(--pontus);
    font-family: 'BodoniXT';
    text-transform: uppercase;
    color: #fffff4;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 9999;
}

#title_bar {
    font-size: calc(20pt + 2vw);
    text-align: center;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.nav_item:hover {
    background-color: #394E68;
    color: goldenrod;
}

.active_nav_item {
    background-color: #394E68;
    color: goldenrod;
}

footer {
    width: 100%;
    margin: auto;
    padding-top: 5vh;
    padding-bottom: 2vh;
    font-size: 16px;
}

#footer_content {
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer_box {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: 0;
    flex-wrap: wrap;
}

.footer_item {
    flex-grow: 1;
    flex-basis: 250px;
    min-width: 250px;
    text-align: center;
    padding-bottom: 1em;
    line-height: 2em;
}

.footer_item_header {
    text-transform: uppercase;
    font-family: 'BodoniXT';
}

.footer_item_body {
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-transform: none;
}

.footer_item_body>li>a:hover {
    color: goldenrod;
}

#footer_logo {
    flex-grow: 0;
    padding-left: 1vw;
    padding-right: 1vw;
}

#footer_logo>img {
    border-radius: 50%;
    background-color: var(--pontus);
}

#footer_copyright {
    padding-top: 2vh;
    font-size: 12px;
    text-align: center;
    padding-bottom: 1vh;
}

address.footer_item_body {
    padding-top: 13px;
}

@media screen and (max-device-width: 750px) {
    .logo {
        position: absolute;
        left: 0px;
        height: 40px;
        padding-left: 5px;
    }

    #logo_right {
        display: none;
    }

    #title {
        display: block;
        padding-left: 40px;
        padding-right: 40px;
    }

    #nav_bar {
        display: none;
        clear: right;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-flow: column;
        margin: 0;
        overflow: hidden;
    }

    .nav_item {
        min-width: 100%;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid goldenrod;
    }

    #nav_menu_button {
        position: absolute;
        right: 0px;
        padding-right: 5px;
        height: 40px;
    }

    #footer_logo {
        display: none;
    }

    footer {
        padding: 0;
    }
}

/*  Deal with windows which aren't mobile but are too narrow to
    fit the whole title on 1 line with 2 logos */
@media screen and (max-device-width: 800px) {
    #logo_right {
        display: none;
    }
}

@media screen and (min-device-width: 750px) and (max-device-width: 1000px) {
    .footer_box {
        flex-direction: column;
    }

    #footer_logo {
        display: none;
    }
}

@media screen and (min-device-width: 750px) {
    .logo {
        position: relative;
        top: 0.11em;
        margin-top: -0.25em;
        margin-bottom: -0.25em;
        height: 1.5em;
        border-radius: 50%;
    }
    #nav_bar {
        display: flex;
        margin: 0;
        overflow: hidden;
    }
    .nav_item {
        flex-grow: 1;
        flex-basis: 0px;
        text-align: center;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid goldenrod;
        border-left: 1px solid goldenrod;
    }
    #nav_menu_button {
        display: none;
    }
}
