.main_info_box>div>a>img {
    position: relative;
    padding: 2.5%;
    max-width: 95%;
    max-height: 100vh;
    width: 300px;
    margin: auto;
    display: inline-block;
    padding-top: 2vh;
    vertical-align: middle;
}

@media screen and (max-device-width: 750px) {
    #player {
        width: 95vw;
        height: calc(95vw * 0.46875);
    }
    figure {
        width: 100%;
        margin: 0;
        padding-bottom: 1.5em;
        padding-top: 2.5vw;
    }
    .main_info_box {
        width: 95%;
    }
    #dates_box::before {
        position: absolute;
        top: 0em;
        left: 10%;
        width: 80%;
        content: "";
        border-bottom: 1px solid var(--pontus);
    }
}

@media screen and (min-device-width: 750px) {
    #player {
        width: 60vw;
        height: calc(60vw * 0.46875);
    }
    figure {
        width: 60vw;
        margin: auto;
        padding-top: 3vh;
    }
    .main_info_box {
        width: 60%;
    }
}

#charity_box {
    background-color: #fffff4;
}

.charity_logo {
    flex-basis: 300px;
    flex-shrink: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

.date {
    padding-bottom: 0.3em;
}

.committee_role_box {
    padding: 1em;
    border: 1px solid goldenrod;
    border-radius: 2px;
    margin-bottom: 0.5em;
    /* padding-bottom: 1em; */
}

#application_form_link {
    border: 1px solid var(--pontus);
    padding: 0.5em;
    border-radius: 2px;
}