.card-container {
    margin: auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: stretch;
    max-width: 100%;
    justify-content: space-evenly;
}

.card {
    position: relative;
    margin: 0px 10px;
    flex-basis: 335px;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0;
    padding-bottom: 3em;
    word-wrap: break-word;
    color: var(--pontus);
}

.card::after {
    position: absolute;
    bottom: 1.5em;
    left: 25%;
    width: 50%;
    content: "";
    border-bottom: 1px solid var(--pontus);
}

#ticket_purchase_link {
    margin: auto;
    border: 1px solid var(--pontus);
}

@media screen and (max-device-width: 750px) {
    #ticket_purchase_link {
        width: 85vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

@media screen and (min-device-width: 750px) {
    #ticket_purchase_link {
        width: 48vw
    }
}

#ticket_purchase_link:hover {
    color: goldenrod;
}
